{{ "<!-- Grundsätze -->" | safeHTML }}
<div id="grundsatze" class="container-fluid content text-center">
  <h1><img src="img/header/grundsatze.png" style="max-width:100%;height:auto;"/></h1>
  <ul>
    <li>
      Sensibilisierung für einen verantwortungsvollen Umgang mit den Ressourcen unseres Planeten
    </li>
    <li>
      Foodwaste in Wädenswil minimieren
    </li>
    <li>
      Überschüssiges Essen allen zugänglich machen
    </li>
    <li>
      Verbindung zwischen Studierenden und Bevölkerung
    </li>
    <li>
      Plattform für Nachhaltigkeitsbildung
    </li>
    <li>
      Betriebskonzept mit möglicher Übergabe an Nachfolgegeneration
    </li>
    <li>
      Offizielles, rechtlich abgesichertes Projekt
    </li>
  </ul>
  <p>
    <a href="#logo"><img src="img/oben.png" style="max-width:50%;height:auto;"/></a>
  </p>
</div>
