{{ "<!-- Logo -->" | safeHTML }}
<div id="logo" class="container-fluid content text-center">
  <p>
    <img src="img/logo.png" style="max-width:100%;height:auto;"/>
  </p>
  <p>
    <a href="#uber"><img src="img/menu/uber.png" style="max-width:100%;height:auto;"></a>
    <a href="#warum"><img src="img/menu/warum.png" style="max-width:100%;height:auto;"></a>
    <a href="#gruental"><img src="img/menu/standorte.png" style="max-width:100%;height:auto;"></a>
    <a href="#grundsatze"><img src="img/menu/grundsatze.png" style="max-width:100%;height:auto;"></a>
  </p>
</div>
