{{ "<!-- Grundsätze -->" | safeHTML }}
<div id="partner" class="container-fluid content text-center">
  <h1><img src="img/header/partner.png" style="max-width:100%;height:auto;"/></h1>
  <p>
    Wir sind Teil eines kleinen Netzwerkes in Wädenswil, wo wir noch geniessbare
    Lebensmittel abholen können, ebenso sind wir bemüht mit dem bestehenden Netzwerk
    zusammenzuarbeiten. Das ökologische und soziale Engagement vom
    <a href="http://www.auerehuus.ch/freihuus/lebensmittelpunkt">Auerehuus</a>
    und der Abgabestelle von
    <a href="https://www.kirche-waedenswil.ch/tischleindeckdich">Tischlein deck dich</a>
    sowie
    <a href="http://www.transition-waedenswil.ch">Transition Wädenswil</a>
    inspiriert und begeistert uns sehr und wir stehen mit ihnen im Austausch.
    Für uns ist es von zentraler Bedeutung ergänzend zu den bestehenden Projekten
    tätig zu werden und wir sehen grosses Potenzial darin uns gegenseitig zu
    unterstützen.
  </p>
  <p>
    Den Detailhandel sehen wir als Wegbereiter für die Förderung eines nachhaltigen
    Konsumverhaltens, denn er erreicht mit seinem nachhaltigen Engagement die meisten
    KonsumentInnen. Um eine Sensibilisierung für Lebensmittelverschwendung in der
    Bevölkerung erlangen zu können, wünschen wir uns deshalb auch eine Zusammenarbeit
    mit Detailhändlern.
  </p>
  <p>
    <a href="#logo"><img src="img/oben.png" style="max-width:50%;height:auto;"/></a>
  </p>
</div>
