{{ "<!-- Über uns -->" | safeHTML }}
<div id="uber" class="container-fluid content text-center">
  <h1><img src="img/header/uber.png" style="max-width:100%;height:auto;"/></h1>
    <p>
      Unser Verein, <b>delikat</b>rest<b>essen</b>, besteht momentan aus Studierenden des Studiengangs
      Umweltingenieurwesen an der ZHAW in Wädenswil. In Zusammenarbeit mit dem Institut für
      Umwelt und natürliche Ressourcen (IUNR) und der AG Nachhaltige Entwicklung (LSFM) haben
      wir dieses Projekt zur Förderung der Nachhaltigkeit in Wädenswil ausgearbeitet.
    </p>
    <p>
      <b>delikat</b>rest<b>essen</b> hat das Ziel die Lebensmittelverschwendung in der Stadt Wädenswil zu
      vermindern und auf diese Art für das Thema Nachhaltigkeit zu sensibilisieren. Durch
      verschiedene Kooperationen mit Supermärkten, Läden und Bauern in der Umgebung werden
      nicht verkaufte, noch geniessbare Lebensmittel abgeholt. Die Abholungen werden mit Hilfe
      freiwilliger Unterstützer organisiert. Die Lebensmittel werden anschliessend in den
      Kühlschrank am Standort Grüental gebracht. Dort ist jede und jeder dazu eingeladen sich zu
      bedienen. Insbesondere Menschen, denen der Zugang zu Lebensmitteln aus finanziellen
      Gründen erschwert ist.
    </p>
    <p>
      So kannst du mitmachen:
    </p>
    <ul>
      <li>
        Du kannst dich
        <a href="https://docs.google.com/spreadsheets/d/1dHieENsidMf--ymzy9MG2_c9aNUd9hQDgmC6UXggKc0/edit?usp=sharing" target="_blank">hier</a>
        für Abholungen eintragen. Einträge in der Tabelle sind verbindlich. Falls die Abholung nicht wahrgenommen werden kann, muss selbständig
        jemand als Ersatz organisiert werden. Ist dies wirklich nicht möglich, meldet euch bei uns.</br>
        (Für das erste Mal schreib uns eine Mail an <a href="mailto:info@delikatrestessen.ch">info@delikatrestessen.ch</a> und wir werden
        eine erste gemeinsame Abholung mit dir organisieren)
      </li>
      <li>
        Trage dich
        <a href="https://docs.google.com/spreadsheets/d/1NMSjMyBIr3Ul1NrQk3Qn0MOC3g8_c8SyQXnehpm8XUU/edit?usp=sharing" target="_blank">hier</a>
        für den Unterhalt eines Standortes ein. </br>
        (Für das erste Mal schreib uns ebenfalls eine Mail an <a href="mailto:info@delikatrestessen.ch">info@delikatrestessen.ch</a>
        und wir machen das zu Beginn einmal gemeinsam)
      </li>
      <li>
        Du kannst auch selbst verschlossene, ungekochte, noch geniessbare Nahrungsmittel
        aus dem eigenen Zuhause in den Kühlschrank bringen. So kann sich jede und jeder
        gegen die Lebensmittelverschwendung einsetzen und Anderen damit eine Freude machen.
        (Zum Beispiel kannst du nicht angeschnittenes Gemüse oder verschlossenes Joghurt
        bringen, hingegen sind selbstgemachte Lasagne oder Fleisch nicht erlaubt)
      </li>
      <li>
        Unterstütze uns finanziell um z.B. den Kühlschrank mit einer Solaranlage zu betreiben.
        IBAN CH20 0839 0035 1070 1000 8.
        Oder kontaktiere uns per <a href="mailto:info@delikatrestessen.ch">Mail</a>.
      </li>
    </ul>
    <p>
      Bei Fragen stehen wir jederzeit gerne zur Verfügung. Schreib uns einfach eine Mail
      mit deiner Anregung, Idee, Kritik oder Sorge…
    </p>
    <p>
      <img src="img/uber.jpg" style="width:75%;"/> </br>
      Die Initianten von <b>delikat</b>rest<b>essen</b>: v.l.n.r. Seraina Bokányi, Valentin Denzler,
      Nora Brügger, Charlotte Klinkvort, Vera Gautschi und Kilian Schlunegger
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
      <a href="#logo"><img src="img/oben.png" style="max-width:50%;height:auto;"/></a>
    </p>
</div>
