{{ "<!-- Warum -->" | safeHTML }}
<div id="warum" class="container-fluid content text-center">
  <h1><img src="img/header/warum.png" style="max-width:100%;height:auto;"/></h1>
  <p>
    Während in anderen Ländern gehungert wird, haben wir mehr Nahrung zur Verfügung,
    als wir benötigen. Rund ein Drittel aller Lebensmittel in der Schweiz geht zwischen
    Feld und Teller verloren. Das entspricht pro Jahr rund 2 Mio. Tonnen Nahrungsmitteln
    oder der Ladung von rund 140’000 Lastwagen, die aneinandergereiht eine Kolonne von
    Zürich bis Madrid bilden.
  </p>
  <p>
    <img src="img/verluste.png" style="width:75%;"/>
  </p>
  <p>
    Davon wird der Grossteil in den Haushalten verschwendet. Das sind Produkte, die wir
    in unserem täglichen Verbrauch nicht verwerten, weil wir zu viel eingekauft haben,
    die Portion zu gross war oder weil wir einfach keine Lust mehr auf die übrigen
    Pommes auf dem Teller haben. So werden pro Person täglich 320g Nahrungsmittel
    verschwendet, was fast einer ganzen Mahlzeit entspricht.
  </p>
  <p>
    Quellen: wwf.ch und foodwaste.ch
  </p>
  <p>
  </p>
  <p>
  </p>
  <p>
    <a href="#logo"><img src="img/oben.png" style="max-width:50%;height:auto;"/></a>
  </p>
</div>
